@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div>
    <div class="about-us-bg">
        <img src="~/image/Background-3.svg"/>
    </div>

    <div class="about-us-content">
        <h1>ABOUT <b style="color: #ed563b">US</b></h1>
        <p>
            Welcome to Ripped and Fit Gym! We're here to help you reach your fitness goals, whether it's building muscle, losing weight, or improving your health. 
            Our gym features top-quality equipment, a variety of fitness classes, and experienced trainers ready to support you. 
            We create a positive, welcoming environment for everyone, no matter your fitness level.
        </p>
        <h2>WHY CHOOSE <b style="color: #ed563b">US?</b></h2>
        <p>
            Why Choose Us?
            Top Equipment: Latest gym machines to help you succeed.
            Expert Trainers: Certified professionals to guide you.
            Supportive Atmosphere: A friendly place for all fitness levels.
            Variety of Classes: Strength, cardio, yoga, and more.
            Real Results: We focus on helping you see lasting progress.
            Join us at Ripped and Fit Gym and start your fitness journey today!
        </p>
    </div>
</div>
