@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div>
    <h2>CONTACT US</h2>
    <h4>GET IN TOUCH</h4>
</div>
<div>
    <form method="post">
        <input placeholder="NAME"/>
        <input placeholder="EMAIL"/>
        <textarea placeholder="COMMENT"></textarea>
        <button type="submit"></button>
    </form>
</div>