@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="home-background">
    <div class="home-content">
        <p>SHAPE YOUR <b style="color: #ed563b">BODY</b> <span class="sub-head" style="color:white">EASY WITH <b style="color: #ed563b">OUR GYM</b></span></p>
        <a asp-controller="home" asp-action="login" class="primary-cta">LOGIN</a>
    </div>
</div>
