<div class="home-background">
    <div class="home-content">
        <p>SHAPE YOUR <span style="color: #ed563b">BODY</span> <span class="sub-head">EASY WITH <span style="color: #ed563b">OUR GYM</span></span></p>
        <a asp-controller="home" asp-action="login" class="primary-cta">LOGIN</a>
    </div>
</div>