@model RippedAndFit.Domain.Entities.Users;

@{
    ViewData["Title"] = "Login";
}

<div>
    <div class="right-side">
        
    </div>
    <div class="login-form">
        <form method="post">
            <div>
                <h1>LOG IN</h1>
                <p>Let's track your goals</p>
            </div>
            <div>
                <label asp-for="Username"></label>
                <input asp-for="Username" />

                <label asp-for="Password"></label>
                <input asp-for="Password" name="Password" type="password" />
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>