@model IEnumerable<RippedAndFit.Domain.Entities.Users>;

<form>
    <h1>LOG IN</h1>
    <input placeholder="Username" name="Username"/>
    <input placeholder="Password" name="Password" type="password" />
    <button type="submit">Login</button>
</form>