IEnumerable<RippedAndFit.Domain.Entities.Users>;

<form>
    <h1>LOG IN</h1>
    <input placeholder="Username" />
    <input placeholder="Password" type="password" />
    <button>LOG IN</button>
</form>