@model RippedAndFit.Domain.Entities.Users;

@{
    ViewData["Title"] = "Login";
}

<div class="home-background">

    <div class="slogan">
        <h1>
            SHAPE YOUR <b style="color: #ed563b">BODY</b> <span class="login-sub-head">EASY WITH <b style="color: #ed563b">OUR GYM</b></span>
        </h1>
        <img src="~/image/Push-Up.svg" alt="Guy doing a Push-Up"/>
    </div>

    <div class="login-form">
        <form method="post">
            <div>
                <h1>LOG IN<span>Let's track your goals</span></h1>
            </div>
            <div>
                <input asp-for="Username" placeholder="Username" class="username-field" />
                <input asp-for="Password" placeholder="Password" class="password-field" name="Password" type="password" />
                <div class="utility">
                    <div class="remember-me">
                        <input type="checkbox" name="RememberMe" value="" />
                        <p>Remember Me?</p>
                    </div>
                    <a href="#">Forgot Password?</a>
                </div>
                
            </div>
            <div>
                <button type="submit">LOGIN</button>
            </div>
        </form>
    </div>

</div>