
.hide-desktop {

}

.hide-mobile {

}

body {
    margin: 0;
    font-family: 'Poppins';
}

header {
    background-color: #54576f;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

nav ul {
    background: #54576f;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style: none;
    text-align: right;
    padding: 0 1em 1em 1em;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    li {
        margin: 0.5em 0;

        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.2rem;

            &:nth-of-type(1) {
                margin-bottom: 1em;
            }
            
            &:hover {
                color: #ed563b;
                text-decoration: none;
            }
        }
    }
}

.gym-logo {
    width: 75%;
    margin: 1em;
}

.menu-btn {
    width: 70%;
}

nav div a img {
    margin-top: 1em;
}

.open {
    transform: translateX(0%);
}

.home-background {
    position: relative;
    background-image: url(../image/png/Background-1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 1;
}

    .home-background::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

.home-content {
    position: relative;
    z-index: 3;
    text-align: center;
    color: white;
    padding-top: 6em;
}

.home-content p{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-top: 0;
    padding-top: 8em;

    .sub-head {
        display: block;
        margin: 0 auto;
        font-size: 2.75rem;
    }
}

a.primary-cta {
    background: #ed563b;
    padding: .5em;
    width: 300px;
    box-sizing: border-box;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Poppins';
    color: white;
    border-radius: .5em;
    margin: 0 auto;
}





